Checks: >
    -*,
    clang-analyzer-*,
    modernize-*,
    bugprone-*,
    performance-*,
    readability-*
WarningsAsErrors: false
HeaderFilterRegex: '.*'
CheckOptions:
  - key: modernize-use-nodiscard.CheckedTypes
    value: '.*'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
