Checks: >
  -*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'

